<<<<<<< HEAD
body {
    background-color: beige;
 }
 
 #menu {
    border: 1px SOLID beige;
    width: 1340px;
    height: 320px;
    box-shadow: 2PX 2PX 2PX 2PX slategray;
 
 }
 
 .haut {
    border: 1px solid white;
    width: 1340px;
    height: 50px;
    background-color: black;
    box-shadow: 2PX 2PX 2PX 2PX slategray;
 }
 
 .bas {
    border: 1px solid white;
    width: 1340px;
    height: 50px;
    background-color: beige;
    margin-top: 50px;
    box-shadow: 2PX 2PX 2PX 2PX slategray;
 }
 
 .menu1 {
    margin-left: 60px;
 }
 
 ul li {
    display: inline-block;
    margin-left: 5px;
    color: white;
    margin-top: -50px;
 }
 
 .menu1 ul li a {
    text-decoration: none;
    color: aliceblue;
 }
 
 
 .S1 {
    border: 1PX solid white;
    width: 30px;
    height: 30px;
    margin-left: 1000px;
    margin-top: -40px;
 }
 
 .SS1 {
    border: 1PX solid white;
    width: 8px;
    height: 16px;
    margin-left: 1010px;
    margin-top: -47px;
    margin-top: -25px;
    background-color: black;
    color: white;
 
 }
 
 .S2 {
    border: 1PX solid white;
    width: 30px;
    height: 30px;
    margin-left: 1035px;
    margin-top: -40px;
    margin-top: -25px;
 }
 
 .SS2 {
    border: 1PX solid white;
    width: 8px;
    height: 16px;
    margin-left: 1045px;
    margin-top: -47px;
    margin-top: -25px;
    background-color: black;
    color: white;
 
 }
 
 .S3 {
    border: 1PX solid white;
    width: 150px;
    height: 30px;
    margin-left: 1070px;
    margin-top: -40px;
    margin-top: -25px;
 }
 
 .S3 p {
    color: azure;
    margin-left: 14px;
    margin-top: 5px;
    font-size: larger;
 }
 
 .SS3 {
    border: 1PX solid white;
    width: 40px;
    height: 30px;
    margin-left: 1180px;
    margin-top: -47px;
    margin-top: -32px;
    background-color: brown
 }
 .milieuT {
    margin-left: 300px;
 }
 
 .milieuT h1 {
    color: black;
    font-size: 50px;
 
 }
 
 .milieuT P {
    margin-top: -15px;
    font-size: larger;
    color: rgb(53, 50, 50);
 }
 
 .milieuLO {
    border: 1PX SOLID white;
    width: 140px;
    height: 140PX;
    margin-top: -110px;
    margin-left: 140px;
    background-image: url("logosT.PNG");
    border-radius: 20PX 20PX 20PX 20px;
 }
 .milieuLO img{
    width: 140px;
 }
 
 .men1 {
    border: 1PX SOLID black;
    width: 150PX;
    height: 50PX;
    background-color: rgb(19, 19, 85);
    margin-top: -2px;
 }
 
 .men2 {
    border: 1PX SOLID black;
    width: 100PX;
    height: 50PX;
    background-color: rgb(19, 19, 85);
    margin-left: 153px;
    margin-top: -52px;
    list-style-type: none;
    background-color: brown
 }
 
 .men2 li a {
    text-align: center;
    color: aliceblue;
    margin-top: 20px;
 }
 
 .men2 a {
    margin-top: 20px;
    font-size: larger;
    text-decoration: none;
    margin-left: 20px;
 }
 
 .men3 {
    border: 1PX SOLID white;
    width: 120PX;
    height: 50PX;
    background-color: rgb(19, 19, 85);
    margin-left: 256px;
    margin-top: -52px;
    list-style-type: none;
    background-color: brown;
 }
 
 .men3 li a {
    text-align: center;
    color: aliceblue;
    margin-top: 20px;
 }
 
 .men3 a {
    margin-top: 20px;
    font-size: larger;
    text-decoration: none;
    margin-left: 20px;
 }
 
 
 .men4 {
    border: 1PX SOLID white;
    width: 120PX;
    height: 50PX;
    background-color: rgb(19, 19, 85);
    margin-left: 380px;
    margin-top: -52px;
    list-style-type: none;
    background-color: brown
 }
 
 .men4 li a {
    text-align: center;
    color: aliceblue;
    margin-top: 20px;
 }
 
 .men4 a {
    margin-top: 20px;
    font-size: larger;
    text-decoration: none;
    margin-left: 20px;
 }
 
 .men5 {
    border: 1PX SOLID white;
    width: 150PX;
    height: 50PX;
    background-color: rgb(19, 19, 85);
    margin-left: 504px;
    margin-top: -52px;
    list-style-type: none;
 }
 
 .men5 li a {
    text-align: center;
    color: aliceblue;
    margin-top: 20px;
 }
 
 .men5 a {
    margin-top: 20px;
    font-size: larger;
    text-decoration: none;
    margin-left: 20px;
 }
 
 .men6 {
    border: 1PX SOLID white;
    width: 150PX;
    height: 50PX;
    background-color: rgb(19, 19, 85);
    margin-left: 658px;
    margin-top: -52px;
    list-style-type: none;
 }
 
 .men6 li a {
    text-align: center;
    color: aliceblue;
    margin-top: 20px;
 }
 
 .men6 a {
    margin-top: 20px;
    font-size: larger;
    text-decoration: none;
    margin-left: 20px;
 }
 
 .men7 {
    border: 1PX SOLID white;
    width: 140PX;
    height: 50PX;
    background-color: rgb(19, 19, 85);
    margin-left: 812px;
    margin-top: -52px;
    list-style-type: none;
    background-color: brown
 }
 
 .men7 li a {
    text-align: center;
    color: aliceblue;
    margin-top: 20px;
 }
 
 .men7 a {
    margin-top: 20px;
    font-size: larger;
    text-decoration: none;
    margin-left: 20px;
 }
 
 .men8 {
    border: 1PX SOLID white;
    width: 140PX;
    height: 50PX;
    background-color: rgb(19, 19, 85);
    margin-left: 956px;
    margin-top: -52px;
    list-style-type: none;
 }
 
 .men8 li a {
    text-align: center;
    color: aliceblue;
    margin-top: 20px;
 
 }
 
 .men8 a {
    margin-top: 20px;
    font-size: larger;
    text-decoration: none;
    margin-left: 20px;
 }
 
 .men9 {
    border: 1PX SOLID white;
    width: 240PX;
    height: 50PX;
    background-color: rgb(19, 19, 85);
    margin-left: 1100px;
    margin-top: -52px;
 }
 
 .partie1 {
    border: 1px solid white;
    width: 100%;
    height: 600px;
    margin-top: 20PX;
    background-image: url("../img/20102023-_MG_1213.jpg");
    box-shadow: 2PX 2PX 2PX 2PX slategray;
    background-size: cover;
    background-position: center;
 }
 
 .bord {
    text-align: center;
    color: white;
    margin-top: 150px;
    font-size: 50px;
 }
 #footter1 {
    border:1PX SOLID rgb(9, 9, 9);
    width: 100%;
    height: 120PX;
    text-align: center;
    background-color: rgb(22, 22, 22);
    color: white;
    box-shadow: 2PX 2PX 2PX 2PX slategray;
 
 }
 
 .foot h4 {
    margin-top: 40px;
 }
=======
<<<<<<< HEAD
body {
    background-color: rgb(249, 252, 252);
    padding: 0%;
    margin-top: 0%;

}

fieldset {
    background-color: rgb(181, 181, 230);
    margin-top: 70px;
    width: 27%;
    border-radius: 5px 5px 5px 5px;
}
ul li {margin-left: 20px; color: aqua;}
#submit{
    margin: 20px 35px;
    color: brown;
    background-color: white;
    width: 60%;
    font-size: 80px;
    border-radius: 20px;
    border: 1px solid white;
}
#submit:hover{
    color: white;
    background-color: brown;
}
input{
    font-size: 16px;
    border: none;
    outline: non;
    background: none;
    border-bottom: 1px solid white;
    color: white;
    width: 90%;
}

=======
>>>>>>> 1e07d5f257e9d66ad9b4a9b0642ce54e284c1319
/*STYLE PAGE LOGIN*/
.containLogin{
    width:400px;
    margin: 0 auto;
    margin-top:15%;
}
.containLogin1{
    width:400px;
    margin: 0 auto;
    margin-top:5%;
}

.containLogin #formulaireInscription{
width:100%;
 padding: 30px;
 border: 1px solid #f1f1f1;
 background: #fff;
 box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.containLogin #formulaireInscription h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}
.containLogin #formulaireInscription input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
   }
   .containLogin #formulaireInscription input[type=button] {
    background-color: #050805;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
   }
   .containLogin #formulaireInscription a{
    text-decoration: none;
    color: rgb(177, 14, 14);
   }
   .containLogin #formulaireInscription a:hover {
    text-decoration:underline;
    color: rgb(177, 14, 14);
   }
<<<<<<< HEAD

  
=======
>>>>>>> 30c84534cebb87b0b86b03ba4d1f9eafba175d2c
>>>>>>> 1e07d5f257e9d66ad9b4a9b0642ce54e284c1319
